@charset "UTF-8";
body {
  font: 100% Helvetika, sans-serif;
  color: #333;
}

/* вложение */
#main p {
  color: #777;
  font-size: 16px;
}

#main p .redbox {
  background: red;
}

#main {
  width: 97%;
}

#main p, #main div {
  font-size: 22px;
}

#main p a, #main div a {
  font-size: 16px;
  /* использование амперсанда */
}

#main p a:hover, #main div a:hover {
  font-weight: bold;
}

#main-sidebar {
  width: 30%;
}

/* Разбитие свойств на вложение */
.selector margin {
  top: 10px;
  left: 0;
  right: 0;
  bottom: 15px;
}

/* Селекторы шаблона */
.base-one-item, .base-two-item {
  color: #555;
  font-size: 14px;
  line-height: 14px;
}

.base-one-item {
  margin-top: 10px;
}

.base-two-item {
  margin-top: 30px;
}

/* Интерполяция */
.interpolar {
  content: "Интерполяция";
}

/* import */
.bg {
  background: #777;
}
