$primary-color:  #333
$font-stack:  Helvetika, sans-serif
body
    font: 100% $font-stack
    color: $primary-color

/* вложение */
#main p
    color: #777
    font-size: 16px

    .redbox
        background: red

#main
    width: 97%

    p, div
        font-size: 22px

        a
            font-size: 16px

            /* использование амперсанда */
            &:hover
                font-weight: bold
    
    &-sidebar
        width: 30%

/* Разбитие свойств на вложение */
.selector
    margin
        top: 10px
        left: 0
        right: 0
        bottom: 15px


/* Селекторы шаблона */
%itembase
    color: #555
    font-size: 14px
    line-height: 14px

.base-one-item
    @extend %itembase
    margin-top: 10px

.base-two-item
    @extend %itembase
    margin-top: 30px

/* Интерполяция */
$in: Интер

.interpolar
    content: "#{$in}поляция"

/* import */
@import "part.scss"


/* условия */
$var: 6
.selector
    @if $var < 5
        content: '5'
    @else if $var > 5
        content: '10'
    @else
        content: '20' 

/* счетчики */
@for $i from 1 to 11
    .item-#{$i}
        background-image: url('image#{$i}')

/* директива @each */
@each $name in header,content,block,text,slider,footer
    .section-#{$name}
        background: url('image-#{$name}.jpg')

/* директива @while */
$i: 7
@while $i > 0
    .item-#{$i}
        width: 10 * $i
    $i: $i - 3

/* директива @mixin */
@mixin border($color)
    border: 1px solid $color

p    
    @include border(#333) 

@mixin transition($time)
    -webkit-transition: all $time easy;
    -o-transition: all $time easy;
    -moz-transition: all $time easy;
    transition: all $time easy;

p
    @include transition(3s)    
